# ignore node_modules and other folders
node_modules
components

# ignore test files created by the app
*.brick
*.obo
*.pdf
*.bat

# ignore cached files
_site
*.lock
.sass-cache/
.DS_Store
.idea
# ignore code-workspace files
*.code-workspace
